---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const all_letters = await Astro.glob("./dear/*.md");
const public_letters = all_letters.filter(
  (letter) => !letter.frontmatter.draft
);
---

<DefaultLayout title="Letters to code">
  <h1 class="heading">
    <span aria-hidden="true">❤</span>Letters to code
  </h1>
  <div class="heading-separator"></div>
  <ol class="list">
    {
      public_letters.map(({ frontmatter, url }) => (
        <li>
          <a class="list-heading" href={url}>
            {frontmatter.lang}
          </a>
        </li>
      ))
    }
  </ol>
</DefaultLayout>
