---
import DefaultLayout from "./DefaultLayout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  lang: string;
}>;

const newAvatar = "https://avatars.githubusercontent.com/u/10626596?v=4";

const {
  frontmatter: { title, lang },
} = Astro.props;

const site_title = `Dear ${lang},`;
---

<DefaultLayout title={site_title}>
  <h1 class="heading">{title}</h1>
  <article class="article">
    <slot />
  </article>
</DefaultLayout>
